body{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
ul{
    padding-left: 0;
}
li{
    list-style-type: none;
    display: inline;
    padding: 10px;
}
img{
    display: inline-block;
    padding: 100px;
}